/* add your CSS here */

.title-text {
    font-size: 2em;
    font-weight: bold;
 }

.animal-image {
	width: 300px;
}

.animal-detail {
	list-style-type: none;
}

.animal-detail-name {
	font-weight: bold;
}

.card {
	border: 1px solid black;
    box-sizing: border-box;
	padding : 10px;
	width: 320px;
	box-shadow: 10px 10px 5px #888; 
}

.detail {
	border: 1px solid black;
    box-sizing: border-box;
	padding : 10px;
}

.animal-facts {
    font-style: italic;
}